
<div class="todo-list--container">
  <div class="todo-list--empty well" ng-if="!vm.list.length">
    Wow no task! Congratulations!
  </div>

  <table ng-if="vm.list.length" class="table table-condensed table-striped todo-list--table">
    <thead>
      <tr>
        <th>#</th>
        <th>Task</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in vm.list track by item.id">
        <td>{{ $index + 1}}</td>
        <td>
          <b
            ng-class="item.completed ? 'todo-list--item completed' : 'todo-list--item'"
            ng-click="vm.toggleCompleted(item)"
            >
            {{ item.title }}
          </b>
        </td>
        <td><span class="todo-list--item-remove" ng-click="vm.removeItem(item)">X</buttom></span>
      </tr>
    </tbody>
  </table>
</div>
