<section id="dashboard-view" class="mainbar">
  <section class="matter">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3>What does this do?</h3>
          <p>
            Feel free to add a task here, when clicking the add button,
            a fake request is done via a delay action and handled as a regular promise.
            You can toggle the status of the todo and remove it also.
          </p>
          <form class="form-inline">
            <div class="form-group">
              <label>Please add a task: </label>
              <input type="text" ng-model="todos.newTodo.title">
            </div>
            <button class="btn btn-default" ng-click="todos.addTodo()" ng-disabled="todos.isFetching()">ADD</button>
          </form>
          <todo-list list="todos.list()"></todo-list>
        </div>
      </div>
    </div>
  </section>
</section>