<section id="dashboard-view" class="mainbar">
  <section class="matter">
    <div class="container">
      <div class="row">
        <div class="col-md-12 jumbotron">
          <h1>Hi there!</h1>
          <p>
            This is a small setup of angular using the yeoman hottowel generator.
            Is a simple todo app, not focused on styles.
          </p>
          <a class="pull-right btn btn-primary btn-lg" href="todos" role="button">Test it!</a>
        </div>
      </div>
    </div>
  </section>
</section>